 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-python-plain-wordmark"></i>
	  <i class="devicon-postgresql-plain-wordmark colored"></i>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/rstudio/rstudio-original.svg", width = 50, height = 50/>  
      <p>I work mainly in Python, R and Postgresql </p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/sqlite/sqlite-original.svg",width =50 , height =50 />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/cplusplus/cplusplus-original.svg",width =50 , height =50 />  
      <i class="devicon-nodejs-plain-wordmark"></i>
	  <p>I work mainly in Python, R and Postgresql </p>
    </div>
</div>
