<div id="particles-js">
  <div class="header">
		<div class="images-center">
        <img alt="mountains" src="{{ "/assets/img/me.png" | prepend: site.baseurl }}" />  
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      <div class="header-icons">
        <a aria-label="https://www.linkedin.com/in/agnes-mcfarlin/" target="_blank" href="https://www.linkedin.com/in/agnes-mcfarlin/"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>

        <a aria-label="https://github.com/oohtmeel1" target="_blank" href="https://github.com/oohtmeel1"><i class="fa fa-github fa-3x" aria-hidden="true" ></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
