<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/particle.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> AI Data Readiness Challenge For the NCI and NIH </h3>
    <ul>
      <li> Data mining, Data quality assessment, Machine Learning</li>
    </ul>
    <p> 
		
	I performed this project for the NIH, as part of the AI data 
    readiness challenge. The purpose of this project was to assess the AI readiness of the 
	publicly available data from The National Lung Screening Trial (NLST) dataset. Specifically, by 
	using the data available to train a machine learning model to identify Cancerous lung nodules without 
	the presence of annotated slides for reference. Data was obtained, then transformed into a format easily 
	used by a machine learning model. Training and testing were performed, and metrics were quantified. Qualitative
 	inferences were also made about the data, then quantitative inferences were attempted. </p>
    <a class="https://github.com/oohtmeel1/AI-Data-Readiness-Challenge-for-the-NCI-Cancer-Research-Data-Commons/tree/main" href="https://github.com/oohtmeel1/AI-Data-Readiness-Challenge-for-the-NCI-Cancer-Research-Data-Commons/tree/main">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/particle.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
