<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/particle.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> AI Data Readiness Challenge For the NCI and NIH </h3>
    <ul>
      <li> Data mining, Data quality assessment, Machine Learning, Pytorch, Python </li>
    </ul>
    <p> 
		
	I performed this project for the NIH, as part of the AI data 
    readiness challenge. The purpose of this project was to assess the AI readiness of  
	publicly available data from The National Lung Screening Trial (NLST) dataset. </p>
    <a class="project-link" href="https://github.com/oohtmeel1/AI-Data-Readiness-Challenge-for-the-NCI-Cancer-Research-Data-Commons/tree/main">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/stats.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Statistical Analysis of Population data </h3>
    <ul>
      <li> Data Cleaning, Statistical Analysis, Working with Large datasets</li>
    </ul>
    <p>Performed Statistical Analysis on a large amount of population data in Python
    in order to determine whether specific areas had higher incidences of certain diseases.
	For the purpose of budget allotment.
    </p>
    <a class="project-link" href="https://github.com/oohtmeel1/Data_Mining_complete">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/neurons.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Pytorch Tutorial </h3>
    <ul>
      <li> Pytorch, Pytorch Ignite, Python</li>
    </ul>
    <p>A project providing instructions on how to build a custom data loader and model in Pytorch.
		 The model is a neural Network classifier. And it performs binary classification.
		 The model is also tested against out of sample data, as part of first steps toward 
        creating something more scalable.
    </p>
    <a class="project-link" href="https://github.com/oohtmeel1/Pytorch_Machine_Learning">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/brain.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Medical Image Classification </h3>
    <ul>
      <li> Python, Keras, Machine Learning, Medical Image analysis</li>
    </ul>
    <p> A project to optimize a machine learning model that was trained to identify Cancerous lung nodules
	in slide images. 
    </p>
    <a class="project-link" href="https://github.com/oohtmeel1/Image_Classification_Neural_Net">Check it out</a>
  </div>
	<iframe src="/assets/img/map.html" height="500" width="500"></iframe>
</div>
<img alt="mountains" src="{{ "/assets/img/map.html" | prepend: site.baseurl }}" />
